      <div class="g-plusone" data-size="small" data-annotation="none"></div>
      <script type="text/javascript">
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/platform.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      </script>
      
      <footer class="site-footer clearfix">

	<a href="http://github.com/survivalmanual">survivalManaual</a>
      </footer>

    </div> <!-- /container -->
    <script>
      $('#toc').toc({
'smoothScrolling': false
      });

      !function(L,I,C,e,N,S,E){L.GoogleAnalyticsObject=N,L[N]=L[N]||function(){
      (L[N].q=L[N].q||[]).push(arguments)},L[N].l=+new Date,S=I.createElement(C),
      E=I.getElementsByTagName(C)[0],S.src=e,E.parentNode.insertBefore(S,E)
      }(window,document,"script","//www.google-analytics.com/analytics.js","ga");

      ga('create', 'UA-88207526-1', 'auto');
      ga('send', 'pageview');
    </script>

  </body>
</html>
