<a href="https://play.google.com/store/apps/details?id=org.ligi.survivalmanual">
  <img alt="Android app on Google Play" src="https://ligi.github.io/img/play_badge.png" style="max-width:100%;"/>
</a>
<a href="https://f-droid.org/repository/browse/?fdid=org.ligi.survivalmanual">
  <img alt="Android app on FDroid" src="https://ligi.github.io/img/fdroid_badge.png" style="max-width:100%;"/>
</a>
<a href="https://www.amazon.com/ligi-Survival-Manual/dp/B06WW43R3Thttps://www.amazon.com/ligi-Survival-Manual/dp/B06WW43R3T">
  <img alt="Android app on FDroid" src="https://ligi.github.io/img/amazon_badge.png" style="max-width:100%;"/>
</a>
