<a href="https://play.google.com/store/apps/details?id=org.ligi.survivalmanual"
  ><img src="https://camo.githubusercontent.com/f5c66a24f1caccaf33f6f4ac026aa5b19b454ece/687474703a2f2f6c6967692e64652f696d672f706c61795f62616467652e706e67" alt="Android app on Google Play" data-canonical-src="http://ligi.de/img/play_badge.png" style="max-width:100%;"></a>
<a href="https://f-droid.org/repository/browse/?fdid=org.ligi.survivalmanual"><img src="https://camo.githubusercontent.com/0add50c529a69f388376ed6ba85ada133915b9f0/687474703a2f2f6c6967692e64652f696d672f6664726f69645f62616467652e706e67" alt="Android app on FDroid" data-canonical-src="http://ligi.de/img/fdroid_badge.png" style="max-width:100%;"></a>


